__pycache__/
venv/
public/
*.pem
*.safetensors
*.whl   

engines/

IGNORE

# Ignore prompt prefix files
server/prompts/*.txt
server/loras/*
server/modules/bg_removal/pretrained/*
server/modules/depth_anything/models/*
server/modules/depth_anything/depth_anything_v2/checkpoints/*
server/tensorrt_convert/onnx_models/*
server/tensorrt_convert/onnx_models_tiny_vae/*
server/tensorrt_convert/onnx_models_vanilla_vae/*
server/modules/fast_srgan/models/*
server/modules/upscaler/checkpoints/**/*
server/modules/upscaler/notebooks/*
frontend_py/frontend_env

server/assets/*

# Ignore log files
*.log