--find-links https://download.pytorch.org/whl/cu128
torch>=2.7.0
torchvision>=0.16.0
torchaudio>=2.7.0
accelerate>=1.5.2
colored>=2.3.0
compel>=2.0.3
cuda-python>=12.8.0
diffusers>=0.32.2
fastapi[all]>=0.115.11
huggingface-hub>=0.29.3
llvmlite==0.44.0
# lunar-tools>=0.0.11
markdown2>=2.5.3
ninja>=1.11.1.3
numba==0.61.0
onnx-graphsurgeon>=0.3.27
onnxruntime-gpu>=1.21.0
optimum>=1.24.0
peft>=0.15.0
polygraphy>=0.49.20
pyaudio>=0.2.14
setuptools==77.0.3
tensorrt==10.9.0.34
transformers>=4.49.0
uvicorn[standard]>=0.34.0
opencv-python
scipy
pycuda
cuda-python>=12.8.0
omegaconf
PyOpenGL
PyOpenGL-accelerate
# git+https://github.com/chengzeyi/stable-fast.git@main#egg=stable-fast
git+https://github.com/lunarring/lunar_tools.git